/* Global styles for background across the entire application */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app-background {
  background-image: url('../public/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg'); /* Your background image */
  background-size: cover;
  background-attachment: fixed; /* Ensures background is fixed while scrolling */
  background-position: center;
  min-height: 100vh;
}

section {
  padding: 100px 20px;
  text-align: center;
}

